footer h3 {
  background-color: var(--primary);
  padding: 0 0 2rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}
footer img {
  width: 200px;
  margin: -600px 0 0 0;
  transform-origin: left;
}
footer svg {
  margin: 0 0 -1.5rem 0;
}
@media screen and (max-width: 600px){
  footer img {
    display: none;
  }
}