nav {
  display: flex;
  background-color: var(--primary);
  justify-content: space-around;
  color: rgb(255, 255, 255);
  height: 50px;
  align-items: center;
  transition: all 0.5s;
  /* faqih */
	height: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
}

.sticky {
  margin: 0;
  width: 100vw;
  background-color: var(--primary);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  list-style: none;
  width: 45%;
  justify-content: space-between;
}

nav ul li a {
  color :white;
  text-decoration: none;
  padding-top: 15px;
  font-size: 1.3rem;
  padding-bottom: 15px;
  transition: all 0.5s;
}

nav ul li a:hover {
  color :var(--p-dark);
}
nav ul li a.selected {
  font-weight: 700;
  color: var(--p-light);
}

/* menu toggle */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  transition: all 0.5s ease;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--surface);
  transform: rotate(45deg) translate(-1px, -2.5px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--surface);
  transform: rotate(-45deg) translate(-1px, 0px);
}

/* Ukuran tablet */
@media screen and (max-width: 780px) {
  nav ul {
      width: 50%;
  }
}

@media screen and (max-width: 575px) {
  nav {
      position: fixed;
      width: 100vw;
      z-index: 3;
      margin: 0;
      justify-content: space-between;
      padding: 0 1rem 0 1rem;
  }
  .sticky {
      position: fixed;
      opacity: 1;
      z-index: 1;
  }
  .menu-toggle {
      display: flex;
  }
  nav ul {
      position: absolute;
      height: 100vh;
      width: 50%;
      background-color: var(--primary);
      background: linear-gradient(180deg, var(--primary) 15%, black 95%);
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      z-index: 1;
      transform: translate(-100%);
      transition: all 1s;
      opacity: 0;
  }
  nav ul.slide {
      position: absolute;
      transform: translate(0);
      z-index: -1;
      opacity: 1;
  }

  nav ul li ul {
      display: flex;
  }
}