header {
    width: 100%;
    height: 80vh;
    background-image: url(../gambar/header.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ml13 {
    font-size: 1.9em;
    font-style: italic;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 30px;
    width: 400px;
    background-color: red;
}
.ml13 .letter {
    display: inline-block;
    line-height: 1em;
}