header {
    width: 100%;
    height: 500px;
    /* background-image: url(../gambar/header.jpg);
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed; */
    padding: 30px 10px 0;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 10%, rgb(2, 0, 106) 50%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
}
header .sosial-media {
    width: 350px;
}
header .sosial-media ul {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
header .sosial-media ul li {
    list-style: none;
}
header .sosial-media a {
    font-size: 45px;
    text-decoration: none;
    color: white;
}
.ml13 {
    font-size: 1.9em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    padding: 0 50px;
    font-size: 80px;
}
.ml13 .letter {
    display: inline-block;
    line-height: 1em;
}